NOTES ONGOING.txt
primer3settings.old.txt
allPathParameters.ours
allParameters/allParameters.HP14_500_5000_500
logFiles/**
out*/*
!out*/good*/
code/R/testOutput
primer3settings.txt
primer3settings.txt.tmp
saveOutputFiles/**
findMers
*.o
*.d
*.xml
.Rapp.history
temp.*
x.*
new.*
