################################################################################
# This is an IGGPIPE "tool path" parameter file template.  Copy this file
# to the file named "allPathParameters.ours" and edit it to set the path
# parameters below.  For more help, see the verbose comments after all the
# must-set parameters below.
################################################################################


# Path of the working directory.  CHANGE THIS TO YOUR IGGPIPE DIRECTORY.
WD := $(BRADYLAB)/Genomes/kmers/IGGPIPE


# Command to invoke the 'jellyfish' program.  Usually on PATH so this is ok.
CMD_JELLYFISH := jellyfish


# Number of entries in Jellyfish hash.  This should be large enough to make
# Jellyfish run fast, without being so large that it uses up more memory than
# is available.  On a 16GB RAM machine, I was able to use a size of 80M.
JELLYFISH_HASH_SIZE := 80M


# Command to invoke the 'perl' program.  Usually on PATH so this is ok.
CMD_PERL := perl


# Command to invoke the 'Rscript' program.  Usually on PATH so this is ok.
CMD_RSCRIPT := Rscript


# Command to invoke 'primer3_core' program, where you downloaded or moved primer3.
CMD_PRIMER3CORE := /Users/tedtoal/src/primer3-2.3.6/primer3_core


# Path to the 'primer3_config' directory, in primer3 directory, don't use '~'.
DIR_PRIMER3CONFIG := /Users/tedtoal/src/primer3-2.3.6/primer3_config


# Command to invoke the 'e-PCR' program, where you built or moved e-PCR.
CMD_EPCR := ~/src/e-PCR-2.3.12-1/e-PCR


# Command to invoke the 'MUSCLE' alignment program, where you downloaded or moved it.
CMD_ALIGNER := ~/bin/muscle3.8.31_i86darwin64


# Path of the directory containing shell files, no change needed here.
DIR_SHELL := code/shell


# Command to move files to trash bin on Mac OSX.  For other systems, delete this.
CMD_TRASH := $(SHELL) $(DIR_SHELL)/trash.sh


# Command to delete files and directories.  Change this only if desired.
#   rm -fd      If you want CLEAN_OUT_DIR to remove directories and their files.
#   rm -f       If you want CLEAN_OUT_DIR to leave directories but remove files.
CMD_DELETE := rm -fd


# Delete command used with make when cleaning.  Change this only if desired.
# Use '$(CMD_TRASH)' to move the files to the trash bin on 'make CLEAN=1'
# Use '$(CMD_DELETE)' to completely delete files on 'make CLEAN=1'
CMD_DELETE_WHEN_CLEANING := $(CMD_TRASH)


# The parameters ABOVE these comments are critical parameters that must always
# be set in a new installation of IGGPIPE.  For a quick start, you are finished!

# The parameters BELOW these comments usually don't need to be changed, but can
# be changed if necessary.


################################################################################
################################################################################
# VERBOSE DESCRIPTION OF THIS FILE AND HOW TO EDIT IT

# This is an IGGPIPE "tool path" parameter file template.  Copy this file
# to the file named "allPathParameters.ours", then edit it and set the path
# parameters as described in the comments below.

# This file is included by 'Makefile' to set tool paths to be used by 'make'.

# All tool paths and many tool argument settings required for running the
# IGGPIPE pipeline are defined here.  They should set one time, during IGGPIPE
# installation, in file "allPathParameters.ours", and from then on, no one
# should need to touch these settings.

# This is a TEMPLATE FILE giving an example of how to define each parameter.
# DO NOT EDIT THIS FILE.  COPY THIS FILE to "allPathParameters.ours" and edit
# THAT file.

# This file has been filled in with actual values as EXAMPLES.  CHANGE these
# values to appropriate ones for your system.

# If a pathname here doesn't start with "/", it is relative to the IGGPIPE
# install directory (the WD parameter directory).

# All parameters in this file are 'make' variable assignments.  When 'make' is
# run and reads this file, a variable is replaced by its value when this file
# or Makefile or the allParameters file have '$(VARIABLE_NAME)'.  Some variables
# are defined here and then used in $() constructs in subsequent definitions of
# other variables here.  You can add as many of your own variables as you want
# to this file to help you define directory and file names.

# All system environment variables are automatically predefined as make variables
# by 'make' itself, so you can use $(ENVIRONMENT_VARIABLE_NAME) to access the
# value of an environment variable.
################################################################################
################################################################################


################################################################################
# Paths of software that is part of the pipeline software, and commands for
# running it.
################################################################################


# Path of the directory containing the pipeline "findMers.cpp" file and, after
# findMers.cpp has been compiled, the "findMers" file.
# THIS DOES NOT NEED TO BE CHANGED.

DIR_FINDMERS := code/cpp/findMers


# Path to the file that is the 'findMers' program file.
# THIS DOES NOT NEED TO BE CHANGED.

PATH_FINDMERS := $(DIR_FINDMERS)/findMers


# Arguments for running the 'findMers' program.
# THIS DOES NOT NEED TO BE CHANGED.

ARGS_FINDMER := -c


# Path of the directory containing pipeline Perl scripts.
# THIS DOES NOT NEED TO BE CHANGED.

DIR_PERL := code/perl


# Path of the pipeline Perl scripts.
# THESE DO NOT NEED TO BE CHANGED.

PATH_EXTRACT_SEQ_IDS := $(DIR_PERL)/extractSeqIdsAndLengths.pl
PATH_KMER_ISECT := $(DIR_PERL)/kmerIsect.pl
PATH_GET_SEQS_FASTA := $(DIR_PERL)/getSeqsFromFasta.pl


# Path of the directory containing pipeline R scripts.
# THIS DOES NOT NEED TO BE CHANGED.

DIR_R := code/R


# Path of the pipeline R scripts.
# THESE DO NOT NEED TO BE CHANGED.

PATH_FIND_LCRS := $(DIR_R)/findLCRs.R
PATH_FIND_INDEL_GROUPS := $(DIR_R)/findIndelGroups.R
PATH_GET_DNA_SEQS := $(DIR_R)/getDNAseqs.R
PATH_FIND_PRIMERS := $(DIR_R)/findPrimers.R
PATH_EPCR_TESTING := $(DIR_R)/ePCRtesting.R
PATH_RMV_BAD_MARKERS := $(DIR_R)/removeBadMarkers.R
PATH_PLOT_MARKERS := $(DIR_R)/plotMarkers.R
PATH_ALIGN_AND_GET_INDELS := $(DIR_R)/alignAndGetIndels.R
PATH_PLOT_INDELS := $(DIR_R)/plotIndels.R

################################################################################
# End of file.
################################################################################
